html{
	background-color:;
}
body{
	padding:0;
	margin:0;
}
header{
	background-color:#ce2b2b;
	margin-bottom:10px;
	padding:10px;
}
#drawCanvas{
	background-color:#0a0a0a;
	max-width:900px;
	border:1px solid white;
}
#footer{
	padding:16px;
}
.kel-hover{
	cursor:pointer;
	transition-duration:0.3s;
}
.kel-black{
	background-color:#021312;
	color:white;
}